
.dialogs{
 display: grid;
 grid-template-columns: 2fr 10fr;

}

.dialogs .active{
    color: crimson;
}
.dialogsItems{
    padding: 10px;
}

.messages{
    padding: 10px;
}

.writeMessageArea{
    padding: 10px;
}

.message{

}